<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Liveprompt">
      <%= assigns[:page_title] || "Home" %>
    </.live_title>
    <%= if System.get_env("APP_ENV") == "prod" do %>
      <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-XKLX26KNFB">
      </script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-XKLX26KNFB');
      </script>
    <% end %>

    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="antialiased">
    <%= @inner_content %>
  </body>
</html>
